.root {
  display: grid;
  grid-auto-columns: minmax(13.5rem, 1fr);
  grid-auto-flow: column;
  gap: var(--space-4);
  width: 100%;
  padding: var(--space-6) 0 var(--space-3);
  overflow-x: auto;
  scrollbar-color: var(--color-border) transparent;
}
